body{
    background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_660582997_412145.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}